# Ignore dependencies
node_modules/

# Ignore Visual Studio folder
.vs/

# Ignore Next.js build output
.next/

# Optional: logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: environment variables
.env
